<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.ciara.drugsmart">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fyp.ciara.drugsmart.MainActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.DataRetrieved" />
        <activity android:name="com.fyp.ciara.drugsmart.TextRecognition" />
        <activity android:name="com.fyp.ciara.drugsmart.AddVaccination" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="orc" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.fyp.ciara.drugsmart.ViewAnimalDetails" />

        <receiver android:name="com.fyp.ciara.drugsmart.NotificationService" />

        <activity android:name="com.fyp.ciara.drugsmart.ViewVaccination" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityAllVaccinations" />
        <activity
            android:name="com.fyp.ciara.drugsmart.Splashscreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityOptions" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityOptionsTwo"
            android:label="Home" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityAddGroup" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityVaccinationHome" />
        <activity android:name="com.fyp.ciara.drugsmart.SearchDatabase" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityAllGroups"
            android:label="All Animal Groups" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityAddGroupVaccination" />
        <activity android:name=".ViewGroupDetails" />
        <activity android:name="com.fyp.ciara.drugsmart.ViewVaccinationDetails" />
        <activity android:name=".ActivityGroupHome" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityIndividualHome" />
        <activity android:name=".ActivityAllGroupVaccinations" />
        <activity android:name=".ActivityAllDoses" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityViewDoseDetails"
            android:label="Group Dose Details" />
        <activity android:name=".ActivityAddGroupDose" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityMedicalRecords2"
            android:label="@string/title_activity_medical_records2" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityToDoList"
            android:label="To-Do List" />
        <activity android:name=".ActivityToDoDetails" />
        <activity android:name=".ActivityUpdateGroupVaccination" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ActivityToDoDoses"
            android:label="To-Do List" />
        <activity android:name="com.fyp.ciara.drugsmart.ActivityToDoDoseDetails" />
        <activity android:name="com.fyp.ciara.drugsmart.GroupActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.GroupVaccinationActivity" />
        <activity
            android:name="com.fyp.ciara.drugsmart.GroupVaccinationDetailsActivity"
            android:label="Group Vaccination Details" />
        <activity android:name="com.fyp.ciara.drugsmart.GroupDoseActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.AnimalActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.IndividualDetails" />
        <activity android:name="com.fyp.ciara.drugsmart.TreatmentDetails" />
        <activity android:name="com.fyp.ciara.drugsmart.TreatmentActivity" />
        <activity
            android:name="com.fyp.ciara.drugsmart.WelcomeActivity"
            android:label="Home" />
        <activity android:name=".ActivityAllIndividuals" />
        <activity android:name="com.fyp.ciara.drugsmart.DrugActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.AddDrug" />
        <activity
            android:name="com.fyp.ciara.drugsmart.Login"
            android:label="Welcome to VacciNote" />
        <activity
            android:name="com.fyp.ciara.drugsmart.Register"
            android:label="Welcome to VacciNote" />
        <activity
            android:name="com.fyp.ciara.drugsmart.ForgotPassword"
            android:label="Forgot Password" />
        <activity android:name="com.fyp.ciara.drugsmart.TestMainActivity" />
        <activity android:name="com.fyp.ciara.drugsmart.ToDoVaccination" />
        <activity android:name="com.fyp.ciara.drugsmart.TodoDoses"></activity>
    </application>

</manifest>